body { background: #8eecb0; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 38px; display: flex; }
.block-invoice-0 { color: #e6ffa5; font-size: 19px; margin-bottom: 5px; }
.block-email-1 { color: #ce0264; font-size: 21px; margin-bottom: 5px; }
.block-logger-2 { color: #61e3e9; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #a861f8; font-size: 19px; margin-bottom: 5px; }
.block-session-4 { color: #5b8ac5; font-size: 21px; margin-bottom: 5px; }